.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text-main);
}

.input {
    padding: 0.75rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    background: var(--color-surface);
    color: var(--color-text-main);
}

.input:focus {
    border-color: var(--color-secondary);
    box-shadow: 0 0 0 2px rgba(0, 56, 147, 0.1);
}

.error {
    border-color: #EF4444;
    /* Red 500 */
}

.errorMessage {
    font-size: 0.75rem;
    color: #EF4444;
}